@{
    ViewBag.Title = "主页";
    Layout = "~/Views/Shared/_BlogLayoutDefault.cshtml";
}
@model Flying.Web.Models.BlogViewModel
@using Flying.Common;

@if (Model != null && Model.lstArticle != null && Model.lstArticle.Count > 0)
{
    foreach (var obj in Model.lstArticle)
    {
        <div class="post">
            <h2 class="title">
                @Html.ActionLink(obj.article_title.FlyToString(), "ViewArticle", "Blog", new { articleid = obj.article_id })
            </h2>
            <p class="meta">
                <span class="date">
                    @obj.create_time.ToString("yyyy-MM-dd hh:mm:ss")
                </span>
                <span class="posted">
                    Posted by <a href="#">@obj.user_name</a>
                </span>
            </p>
            <div style="clear: both;">&nbsp;</div>
            <div class="entry">
                <p>
                    @if (!obj.article_content.FlyIsNullOrEmpty())
                    {
                        if (obj.article_content.Length > 100)
                        {
                            @obj.article_content.Substring(0, 100)
                        }
                        else
                        {
                            @obj.article_content
                        }
                    }
                </p>
                <p class="links">
                    @Html.ActionLink("阅读全文", "ViewArticle", "Blog", new { articleid = obj.article_id }, new { @class = "more" })
                    @*<a href="#" title="b0x" class="comments">Comments</a>*@
                </p>
            </div>
        </div>
    }
}
else
{

    <div class="post">
        <h2 class="title"><a href="#">Welcome to Plain & Clean </a></h2>
        <p class="meta"><span class="date">October 24, 2011</span><span class="posted">Posted by <a href="#">Someone</a></span></p>
        <div style="clear: both;">&nbsp;</div>
        <div class="entry">
            <p>This is <strong>Plain & Clean </strong>, a free, fully standards-compliant CSS template designed by <a href="http://www.freecsstemplates.org/" rel="nofollow">FreeCSSTemplates.org</a>.  This free template is released under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a> license, so you’re pretty much free to do whatever you want with it (even use it commercially) provided you keep the links in the footer intact. Aside from that, have fun with it :)</p>
            <p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum ipsum. Proin imperdiet est. Phasellus dapibus semper urna. Pellentesque ornare, orci in felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem.</p>
            <p class="links"><a href="#" class="more">Read More</a><a href="#" title="b0x" class="comments">Comments</a></p>
        </div>
    </div>
    <div class="post">
        <h2 class="title"><a href="#">Lorem ipsum sed aliquam</a></h2>
        <p class="meta"><span class="date">October 20, 2011</span><span class="posted">Posted by <a href="#">Someone</a></span></p>
        <div style="clear: both;">&nbsp;</div>
        <div class="entry">
            <p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum vel, tempor at, varius non, purus. Mauris vitae nisl nec metus placerat consectetuer. Donec ipsum. Proin imperdiet est. Phasellus <a href="#">dapibus semper urna</a>. Pellentesque ornare, orci in consectetuer hendrerit, urna elit eleifend nunc, ut consectetuer nisl felis ac diam. Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem.  Mauris quam enim, molestie in, rhoncus ut, lobortis a, est.</p>
            <p class="links"><a href="#" class="more">Read More</a><a href="#" title="b0x" class="comments">Comments</a></p>
        </div>
    </div>
    <div class="post">
        <h2 class="title"><a href="#">Consecteteur hendrerit </a></h2>
        <p class="meta"><span class="date">October 10, 2011</span><span class="posted">Posted by <a href="#">Someone</a></span></p>
        <div style="clear: both;">&nbsp;</div>
        <div class="entry">
            <p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum vel, tempor at, varius non, purus. Mauris vitae nisl nec metus placerat consectetuer. Donec ipsum. Proin imperdiet est. Phasellus <a href="#">dapibus semper urna</a>. Pellentesque ornare, orci in consectetuer hendrerit, urna elit eleifend nunc, ut consectetuer nisl felis ac diam. Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem.  Mauris quam enim, molestie in, rhoncus ut, lobortis a, est.</p>
            <p class="links"><a href="#" class="more">Read More</a><a href="#" title="b0x" class="comments">Comments</a></p>
        </div>
    </div>
}